Repository zopiolabs/zopio_init, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: auth, package: database, package: ui, package: data, package: crud, package: api, app: api, app: web, app: docs, app: studio, app: storybook, documentation, docs: readme, docs: changelog, docs: contributing, docs: api, configuration, dependencies, testing, ci/cd, security, i18n, infrastructure

.github/labeler.yml:

# Label automation configuration for pull requests
# This file is used by the labeler action to automatically add labels based on file paths
# Updated to v5 syntax - see https://github.com/actions/labeler

# Core packages
"package: core":
  - any: ['packages/core/**/*']

"package: auth":
  - any: ['packages/auth/**/*', 'packages/auth-*/**/*']

"package: database":
  - any: ['packages/database/**/*']

"package: ui":
  - any: ['packages/ui/**/*', 'packages/design-system/**/*']

"package: data":
  - any: ['packages/data/**/*']

"package: crud":
  - any: ['packages/crud/**/*']

"package: api":
  - any: ['packages/api/**/*']

# Apps
"app: api":
  - any: ['apps/api/**/*']

"app: web":
  - any: ['apps/web/**/*', 'apps/app/**/*']

"app: docs":
  - any: ['apps/docs/**/*']

"app: studio":
  - any: ['apps/studio/**/*']

"app: storybook":
  - any: ['apps/storybook/**/*']

# Documentation
"documentation":
  - any: ['**/*.md', 'docs/**/*', '.github/*.md', '.github/ISSUE_TEMPLATE/**', '.github/PULL_REQUEST_TEMPLATE.md', 'LICENSE', 'CHANGELOG.md', 'README.md', '**/*.txt']

# Documentation: Specific types
"docs: readme":
  - any: ['README.md', '**/README.md']

"docs: changelog":
  - any: ['CHANGELOG.md', '**/CHANGELOG.md']

"docs: contributing":
  - any: ['CONTRIBUTING.md', '.github/CONTRIBUTING.md']

"docs: api":
  - any: ['docs/api/**/*', '**/api.md']

# Configuration
"configuration":
  - any: ['*.json', '*.yaml', '*.yml', '.github/**/*.yml', '.github/**/*.yaml']

# Dependencies
"dependencies":
  - any: ['package.json', 'pnpm-lock.yaml', '**/package.json']

# Testing
"testing":
  - any: ['**/*.test.ts', '**/*.test.tsx', '**/*.spec.ts', '**/*.spec.tsx', '**/tests/**/*', 'vitest.config.*']

# CI/CD
"ci/cd":
  - any: ['.github/workflows/**/*', 'scripts/**/*']

# Security
"security":
  - any: ['.github/SECURITY.md', '**/security/**/*', '**/auth/**/*']

# Internationalization
"i18n":
  - any: ['packages/internationalization/**/*', 'dictionaries/**/*']

# Infrastructure
"infrastructure":
  - any: ['docker/**/*', 'Dockerfile*', 'docker-compose*', '**/infra/**/*']

test: add test 1.2
  test-data.md
Labels: none

test: add test 1.3
  test-data.md
Labels: none

test: small PR
  small-change.md
Labels: none

test: breaking change
  breaking.md
Labels: none

test: add test 2 data
  test-data.md
Labels: none

test: add test file for workflow validation
  test-file.md
Labels: none

test: invalid branch test
  test-invalid-branch.md
Labels: none

docs: add PR validation workflow test results
  test-results-pr-validation.md
Labels: none

test: add 1 more file to exceed 100 file limit (now 101 total)
  test-file-limit/file-100.txt
Labels: none

codeowner update
  .github/CODEOWNERS
Labels: none

fix(ci): update codeowners team name [skip ci] (#145)
  .github/CODEOWNERS
Labels: none

fix(ci): update codeowners team name [skip ci] (#145) (#146)
  .github/CODEOWNERS
Labels: none

chore: sync CODEOWNERS update from main to staging (#147)
  .github/CODEOWNERS
Labels: none

test: add file for PR assignment workflow testing
  test-pr-assignment.md
Labels: none

test: update file for skip assignment test
  test-pr-assignment.md
Labels: none

test: add auth package file for reviewer assignment test
  packages/auth/test-workflow.md
Labels: none

test: add database package file for reviewer assignment test
  packages/database/test-workflow.md
Labels: package: database

test: add core/crud/data package files for reviewer assignment test
  packages/core/test-workflow.md
  packages/crud/test-workflow.md
  packages/data/test-workflow.md
Labels: package: core, package: data, package: crud

test: add env file for security reviewer assignment test
  .env.test
Labels: none

test: update file for draft PR test
  test-pr-assignment.md
Labels: none

test: pr assignment workflow - draft PR behavior (#154)
  .env.test
  packages/auth/test-workflow.md
  packages/core/test-workflow.md
  packages/crud/test-workflow.md
  packages/data/test-workflow.md
  packages/database/test-workflow.md
  test-pr-assignment.md
Labels: package: core, package: database, package: data, package: crud

test: git flow validation - develop to staging (#155)
  .env.test
  packages/auth/test-workflow.md
  packages/core/test-workflow.md
  packages/crud/test-workflow.md
  packages/data/test-workflow.md
  packages/database/test-workflow.md
  test-pr-assignment.md
Labels: package: core, package: database, package: data, package: crud

feat(workspace): add comprehensive git hooks for code quality
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.cjs
  commitlint.config.js
  docs/git-hooks.md
  scripts/detect-secrets.js
Labels: none

fix(workspace): fix lint-staged and detect-secrets for es modules
  .lintstagedrc.cjs
  commitlint.config.cjs
  scripts/detect-secrets.cjs
  test-hook.js
Labels: none

chore(workspace): update pre-push hook and document typescript issues
  .gitignore
  .husky/pre-push
  .lintstagedrc.cjs
  CONTRIBUTING.md
  docs/git-hooks.md
  package.json
  pnpm-lock.yaml
  scripts/detect-secrets.cjs
Labels: none
