Repository zopiolabs/zopio_init, changes with the labels that .github/labeler.yml gives for each.
All labels: package: core, package: auth, package: database, package: ui, package: data, package: crud, package: api, app: api, app: web, app: docs, app: studio, app: storybook, documentation, docs: readme, docs: changelog, docs: contributing, docs: api, configuration, dependencies, testing, ci/cd, security, i18n, infrastructure

.github/labeler.yml:

# Label automation configuration for pull requests
# This file is used by the labeler action to automatically add labels based on file paths
# Updated to v5 syntax - see https://github.com/actions/labeler

# Core packages
"package: core":
  - any: ['packages/core/**/*']

"package: auth":
  - any: ['packages/auth/**/*', 'packages/auth-*/**/*']

"package: database":
  - any: ['packages/database/**/*']

"package: ui":
  - any: ['packages/ui/**/*', 'packages/design-system/**/*']

"package: data":
  - any: ['packages/data/**/*']

"package: crud":
  - any: ['packages/crud/**/*']

"package: api":
  - any: ['packages/api/**/*']

# Apps
"app: api":
  - any: ['apps/api/**/*']

"app: web":
  - any: ['apps/web/**/*', 'apps/app/**/*']

"app: docs":
  - any: ['apps/docs/**/*']

"app: studio":
  - any: ['apps/studio/**/*']

"app: storybook":
  - any: ['apps/storybook/**/*']

# Documentation
"documentation":
  - any: ['**/*.md', 'docs/**/*', '.github/*.md', '.github/ISSUE_TEMPLATE/**', '.github/PULL_REQUEST_TEMPLATE.md', 'LICENSE', 'CHANGELOG.md', 'README.md', '**/*.txt']

# Documentation: Specific types
"docs: readme":
  - any: ['README.md', '**/README.md']

"docs: changelog":
  - any: ['CHANGELOG.md', '**/CHANGELOG.md']

"docs: contributing":
  - any: ['CONTRIBUTING.md', '.github/CONTRIBUTING.md']

"docs: api":
  - any: ['docs/api/**/*', '**/api.md']

# Configuration
"configuration":
  - any: ['*.json', '*.yaml', '*.yml', '.github/**/*.yml', '.github/**/*.yaml']

# Dependencies
"dependencies":
  - any: ['package.json', 'pnpm-lock.yaml', '**/package.json']

# Testing
"testing":
  - any: ['**/*.test.ts', '**/*.test.tsx', '**/*.spec.ts', '**/*.spec.tsx', '**/tests/**/*', 'vitest.config.*']

# CI/CD
"ci/cd":
  - any: ['.github/workflows/**/*', 'scripts/**/*']

# Security
"security":
  - any: ['.github/SECURITY.md', '**/security/**/*', '**/auth/**/*']

# Internationalization
"i18n":
  - any: ['packages/internationalization/**/*', 'dictionaries/**/*']

# Infrastructure
"infrastructure":
  - any: ['docker/**/*', 'Dockerfile*', 'docker-compose*', '**/infra/**/*']

hotfix: remove deprecated Semgrep SAST and fix staging branch trigger
  .github/git-flow-diagram.md
  .github/workflows/security.yml
Labels: none

hotfix: remove deprecated Semgrep SAST and fix staging branch trigger (#111)
  .github/git-flow-diagram.md
  .github/workflows/security.yml
Labels: none

chore(release): update CHANGELOG.md for v1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: docs: changelog

chore(sync): merge main into staging - Remove Semgrep (#112)
  .github/git-flow-diagram.md
  .github/workflows/security.yml
  CHANGELOG.md
  package.json
Labels: docs: changelog

chore(sync): merge main into develop - Remove Semgrep (#113)
  .github/git-flow-diagram.md
  .github/workflows/security.yml
  CHANGELOG.md
  package.json
Labels: docs: changelog

test: add security test files for workflow validation
  Dockerfile.test
  test-security-scan.js
Labels: none

docs: add security workflow test documentation
  test-security-validation.md
Labels: none

docs: add comprehensive security workflow test results
  test-results-security-workflow.md
Labels: none

refactor(ci): optimize GitHub workflows to reduce redundancy and improve efficiency
  .github/WORKFLOW_OPTIMIZATION_SUMMARY.md
  .github/git-flow-diagram.md
  .github/workflows/branch-naming.yml
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/pr-assignment.yml
  .github/workflows/pr-size-check.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/setup-node.yml
Labels: none

docs: document workflow consolidation changes and updated status checks
  .github/WORKFLOW_UPDATES.md
Labels: none

test: add git flow validation test file
  test-git-flow.md
Labels: none

chore: remove obsolete protection JSON files
  develop-protection.json
  main-protection.json
  staging-protection.json
Labels: none

fix(ci): add summary jobs for branch protection status checks
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: none

test: validate git flow and CI pipeline (#115)
  develop-protection.json
  main-protection.json
  staging-protection.json
  test-git-flow.md
Labels: none

hotfix: add summary jobs for branch protection status checks
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: none

hotfix: add summary jobs for branch protection status checks (#118)
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: none

test: verify workflow status checks are working
  test-status-checks.txt
Labels: none

test: add JS file to trigger CI workflow
  test-trigger.js
Labels: none

chore(release): update CHANGELOG.md for v2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: docs: changelog

chore(sync): sync staging with main - full alignment (#122)
  .github/WORKFLOW_OPTIMIZATION_SUMMARY.md
  .github/git-flow-diagram.md
  .github/workflows/branch-naming.yml
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/pr-assignment.yml
  .github/workflows/pr-size-check.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/setup-node.yml
  CHANGELOG.md
  package.json
  test-git-flow.md
Labels: docs: changelog

chore(release): update CHANGELOG.md for v2.0.0 [skip ci] (#123)
  CHANGELOG.md
  package.json
Labels: docs: changelog

test: add test file for workflow validation
  test-workflow.txt
Labels: none

test: validate git flow for build.yml workflow
  .github/workflows/build.yml
Labels: none

test: add files to validate GitHub label workflow
  .github/workflows/test-label-workflow.yml
  apps/api/test-label-workflow.ts
  docs/test-label-workflow.md
  packages/core/test-label-workflow.ts
  packages/database/test-label-workflow.spec.ts
  test-scenarios-label-workflow.md
Labels: package: core, package: database, app: api

feat!: add breaking change test file
  breaking-change-test.md
Labels: none

fix: critical security vulnerability in auth module
  priority-test.md
Labels: none

feat: add git flow test documentation
  git-flow-test.md
Labels: none

test(security): add vulnerable code scenarios for workflow testing
  security-test-scenarios/Dockerfile
  security-test-scenarios/README.md
  security-test-scenarios/sql-injection.js
  security-test-scenarios/test-secrets.js
  security-test-scenarios/vulnerable-package.json
  security-test-scenarios/xss-vulnerability.js
Labels: none

fix(security): partial security fixes for progressive testing
  security-test-scenarios/sql-injection.js
  security-test-scenarios/vulnerable-package.json
Labels: none

fix(security): complete security fixes for clean scan
  security-test-scenarios/sql-injection.js
  security-test-scenarios/test-secrets.js
  security-test-scenarios/xss-vulnerability.js
  security-workflow-test-results.md
  test-results-label-workflow.md
Labels: none

test: add test file for PR validation
  test-file-20250624-172645.txt
Labels: none

test: add another line
  test-file-20250624-172645.txt
Labels: none

test: breaking change test
  test-file-20250624-172645.txt
Labels: none

test: add files for size test
  size-test-1.txt
  size-test-10.txt
  size-test-2.txt
  size-test-3.txt
  size-test-4.txt
  size-test-5.txt
  size-test-6.txt
  size-test-7.txt
  size-test-8.txt
  size-test-9.txt
Labels: none

test: add validation test scripts and results
  pr-validation-results-20250624-172645.txt
  pr-validation-test-simple.sh
  test-branch-naming.sh
  test-pr-validation.sh
Labels: none

test: add file for invalid title test
  test-file-invalid.txt
Labels: none

test: add breaking change test
  breaking-change-test.md
Labels: none

test: add another breaking change
  breaking-change-2.md
Labels: none

test: initialize PR validation test suite
  test-data.md
Labels: none

test: add test 1.1
  test-data.md
Labels: none
